table {
    table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	font-family: sans-serif;
	border: 1px solid black
}
th, td{
   border: 1px solid black;
   height: 50px
  
  
  
}
body {
	text-align: center;
    background:url(http://wallpoper.com/images/00/44/30/32/white-victorian-background_00443032.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    text-align: center;
}
#player1table {
	font-family: "Arial Verdana", Sans-serif;
	margin-top: 50px;
	color: blue;
	background: white;
}
#player2table{
   margin-top: 50px;
   color: red;
   background: white;
}
#player1button{
	margin-top: 50px;
}
#player2button{
	margin-top: 50px;
}

u {
	font-size: 30px;
	padding-left: 45px;
}

#rules {
	font-family:tahoma;
	background-color: #c4ced4;
	border-style: groove;
	border-width: 3px;
	text-align: left;
	margin-top: 50px;

}

ul {
	list-style-image: url("http://www.bkgm.com/faq/gif/die-w2.gif");
	font-size: 26px;
}
